@font-face {
    font-family: Poppins;
    src: url("/assets/font/Poppins.ttf");
}
@font-face {
    font-family: Helvetica;
    src: url("/assets/font/Helvetica.ttf");
}
@import "materialize.min.css";
@import "global";
@import "home";
@import "project";
